body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #f40032;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #f40032), color-stop(14%, #7900b1), color-stop(26%, #7900b1), color-stop(40%, #8600a9));
    background: linear-gradient(90deg, #f40032 0, #7900b1 14%, #7900b1 26%, #8600a9 40%);
    color: white;
    padding: 15px;
    text-align: center;
}

.container {
    padding: 20px;
    flex: 1;
}

.tab-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.tab-button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.tab-button:hover {
    background-color: #f0f0f0;
}

.tab-button.active {
    background-color: #d3d3d3;
    color: #808080;
    border: 2px solid #808080;
}

.tab-content {
    display: none;
    width: 800px;
    margin: 20px auto 0;
}

.tab-content.active {
    display: block;
}

#time-slots {
    width: 800px;
    margin: 20px auto 0;
}

button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}

button:disabled {
    background-color: #d3d3d3;
    color: #808080;
    border: 2px solid #808080;
    cursor: not-allowed;
}

#waitlist {
    margin: 20px auto;
    width: 760px;
}

.waitlist-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-decoration: underline;
}

.waitlist-item input[type="checkbox"] {
    margin-right: 10px;
}

.footer {
    text-align: center;
    padding-bottom: 10px;
    background-color: #f0f0f0;
    color: #aaaaaa;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.print-button-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.print-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.print-button:hover {
    background-color: #45a049;
}
